:root {
  --clip-size: 1%;
  --clip-size-inv: 99%;
  /**/
  --page-fraction: 33vw;
  /* 19vw; */
}

body {
  background-color: #000;
  color: #fff;
  margin: 1em;
}

#imagesWrapper {
  width: calc(100% - 0.8em);
}

.images-container {
  overflow: hidden;
  position: relative;
  border-radius: 1em;
  border-width: 0.2em;
  /**/
  display: inline-block;
  /*none;*/
  margin: 0px 1px 1px 0px;
  position: relative;
  height: var(--page-fraction);
  width: var(--page-fraction);
}

.span-img-descriptor {
  position: absolute;
  left: 0.3em;
  top: 0.3em;
  z-index: 2;
}

img {
  margin: 0px 1px 1px 0px;
  width: var(--page-fraction);
  clip-path: padding-box polygon(var(--clip-size) var(--clip-size),
      var(--clip-size-inv) var(--clip-size),
      var(--clip-size-inv) var(--clip-size-inv),
      var(--clip-size) var(--clip-size-inv));
  outline-style: solid;
  outline-width: calc(var(--page-fraction) / 2);
  outline-offset: calc(var(--page-fraction) / -2);
}