:root {
  --clip-size: 1%;
  --clip-size-inv: 99%;
  --page-fraction-full: min(31vw, 46vh);
  --page-fraction-rolling: min(45vw, 95vh);
}

body {
  background-color: #000;
  color: #fff;
  margin: 1em;
}

img {
  margin: 0px 1px 1px 0px;
  clip-path: padding-box polygon(var(--clip-size) var(--clip-size),
      var(--clip-size-inv) var(--clip-size),
      var(--clip-size-inv) var(--clip-size-inv),
      var(--clip-size) var(--clip-size-inv));
  outline-style: solid;
}

.dims-full {
  height: var(--page-fraction-full);
  width: var(--page-fraction-full);
}

.dims-rolling {
  height: var(--page-fraction-rolling);
  width: var(--page-fraction-rolling);
}

.images-container {
  overflow: hidden;
  position: relative;
  border-radius: 1em;
  border-width: 0.2em;
  display: inline-block;
  margin: 0px 1px 1px 0px;
  position: relative;
}

.img-full {
  width: var(--page-fraction-full);
  outline-width: calc(var(--page-fraction-full) / 2);
  outline-offset: calc(var(--page-fraction-full) / -2);
}

.img-rolling {
  width: var(--page-fraction-rolling);
  outline-width: calc(var(--page-fraction-rolling) / 2);
  outline-offset: calc(var(--page-fraction-rolling) / -2);
}

.span-img-descriptor {
  position: absolute;
  left: 0.3em;
  top: 0.3em;
  z-index: 2;
}

#imagesWrapper {
  width: calc(100% - 0.8em);
}